body {
    margin: 0;
}

#add-new-book {
    position: fixed;
    z-index: 99;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#add-new-book.active {
    display: flex;
    justify-content: center;
    align-items: center;
}